<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

     <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
    <title>Register</title>
    <style type="text/css">
       .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
    </style>
</head>
<body>
 <div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <!-- <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Tag line</p> -->
    </div>
</div>

<div class="container">
    <h2>Register</h2>

    <form class="form-horizontal" th:object="${checkoutCommand}" th:action="@{/docheckout}" method="post" enctype="multipart/form-data">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{checkoutCommand.hasErrors}">Error Message</p>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('firstName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">First Name(*):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('lastName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Last Name(*):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('phone')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Phone(*):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{phone}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('phone')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('phone')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Email(*):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('email')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('city')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">City(*):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('city')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('city')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div>

       <!--  <div class="form-group" th:class="${#fields.hasErrors('stateCode')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">State Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{stateCode}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('stateCode')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('stateCode')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div> -->

       <!--  <div class="form-group" th:class="${#fields.hasErrors('zipCode')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Zip Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{zipCode}" th:errorclass="has-error"/>

                <span class="help-block" th:if="${#fields.hasErrors('zipCode')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}" />
                       </ul>
                </span>
            </div>
        </div> -->
        
        
        
        <div class="form-group">
        <label class="col-sm-2 control-label">Profile photo(1MB):</label>
        <div class="col-sm-10">
        <input name="image" id="image" type="file" class="form-control" th:field="*{photo}"/>
              </div>
      </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
</body>
</html>